.shopItem-wrapper {
  position: relative;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 500px;
}

.shopItem-header {
  position: absolute;
  left: 40%;
}

.header-pic {
  width: 420px;
  height: 200px;
}

.alt-text {
  position: absolute;
  top: 53%;
  left: 22%;
  color: grey;
  font-weight: 700;
  font-size: 20px;
}

.shopItem-sidebar {
  position: absolute;
  top: 40%;
  left: 0%;
  margin-left: 20px;
}

.shopItem-sidebar-Item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 50px;
  padding-bottom: 4px;
  padding-right: 2px;
  border: 1px solid;
  border-radius: 10px;
  margin: 16px auto;
  font-weight: 700;

  &:hover {
    cursor: pointer;
    color: white;
    box-shadow: 10px 10px 20px rgb(149, 147, 147);
    animation: full 3s linear infinite alternate;
  }
}

@keyframes full {
  0% {
    background-color: white;
    color: black;
  }

  100% {
    background-color: black;
    color: white;
  }
}
.enableType {
  position: absolute;
  left: 16%;
  background-color: black;
  color: white;
}

.item-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 0%;
  top: 43%;
  width: 75%;
  height: 100%;
}

.item-wrapper {
  height: 310px;
  width: 275px;
  background-color: black;
  border-radius: 200px 200px 50px 50px;
}

.item-image {
  border-radius: 25%;
  object-fit: contain;

  &:hover .item-2nd-image {
    display: block;
  }
}

.item-1st-image {
  border-radius: 50px 50px 0 0;
  display: block;
  position: absolute;
  top: 0;
}

.item-2nd-image {
  border-radius: 50px 50px 0 0;
  display: none;
  position: absolute;
  top: 0;
  z-index: 99;
}

.item-info-wrapper {
  margin-left: 12%;
  position: absolute;
  margin-top: 20%;
  margin-left: 4%;
}

.item-info {
  display: flex;
  justify-content: center;
  font-weight: 700;
  margin-top: 10px;
  width: 210px;
  color: white;
  border: 3px solid white;
  border-radius: 20px;
}
