.filter-box-wrapper {
    width: 1400px;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 3px 13px rgb(0 0 0 / 16%);
}

.select-wrapper {
    align-items: center;
    justify-content: center;
    display: flex !important;
}

.filter-box-select {
    width: 60%;
    margin: 10px 0;
    width: 80%;
    height: 42px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
}

.item-img {
    width: 80%;
    height: 100%;
    padding: 10px;
}

.category-item-wrapper {
    display: block;
    transition: all 0.5s;
    margin-bottom: 20px;
    border-radius: 10px;
    border-bottom: 5px solid white;
    &:hover {
        box-shadow: 0 5px 5px 0 rgb(219, 216, 216);
        border-bottom: 5px solid rgb(167, 64, 64);
        cursor: pointer;
    }
}

.category-item-name {
    text-align: center;
    font-weight: 700;
}

//detail category list item
.category-detail-item-wrapper {
    border-bottom: 5px solid white;
    transition: all 0.5s;
    padding-bottom: 10px;
    &:hover {
        border-bottom: 5px solid red;
        cursor: pointer;
    }
}

.category-img {
    width: 300px;
    height: 100%;
}

.category-detail-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 0;
    text-align: left;
}

.category-detail-price {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}

//pet information

.information-title {
}

.information-desc {
    font-size: 18px;
    margin-bottom: 6px;
}

.information-img-wrapper {
    width: 860px;
    height: fit-content;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.information-img {
    width: 50%;
    object-fit: cover;
}

//appendix

.appendix {
    position: sticky !important;
    top: 20%;
    text-align: left;
    height: fit-content;
    border-radius: 12px;
    padding: 15px;
    box-shadow: 0 0 10px 3px #f2f2f2;
}

.appendix-title {
    font-weight: 700;
    font-size: 30px;
}

.appendix-inner {
    margin-left: 16px;
    padding: 4px 8px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    &:hover {
        cursor: pointer;
        color: rgb(218, 29, 29);
    }
}

.breakpoint-show-content::after {
    background: linear-gradient(0deg, #fff, #fff 50%, hsla(0deg, 0%, 100%, 0));
    content: "";
    height: 64px;
    position: absolute;
    top: 122px;
    width: 100%;
}
