.details-label {
    font-weight: 700;
    font-size: 35px;
}

.desc-detail {
    margin-left: 50px;
    font-size: 28px;
    font-weight: 600;
}

.add-to-cart {
    padding: 20px;
}

.privilege-wrapper {
    height: fit-content;
    width: 400px;
    border: 1px solid rgb(226, 220, 220);
    border-radius: 10px;
}

.privilege-label {
    background-color: #c5c5c5;
    font-weight: 700;
    font-size: 20px;
    padding: 4px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.privilege-content {
    margin-left: 20px;
    padding: 2px;
    font-size: 16px;
    list-style: square !important;
}

.main-img {
    width: 500px;
    height: 500px;
    object-fit: contain;
    transition: children 0.3s ease-in-out;
}

.carousel {
    width: 534px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 24%;
}

.sub-img {
    margin-top: 20px;
    width: 68px;
    height: 68px;
    transition: border 0.3s;
    object-fit: cover;
}

.sub-img-wrapper {
    width: calc(100% / 6);
    &:hover {
        opacity: 0.75;
    }
}

.product-title {
    font-weight: 700;
}

.product-price {
    font-weight: 600;
    color: rgb(175, 27, 27);
    font-size: 20px;
    margin-bottom: 20px;
}
