html {
  scroll-behavior: smooth;
}

body {
  padding: 0 150px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  transition: none !important;
}

li {
  list-style: none !important;
}

ol,
ul,
dl {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding: 0 !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
